@font-face {
  font-family: "Open Sans Condensed ExtraBold Italic";
  src: url("fonts/OpenSans_Condensed-ExtraBoldItalic.ttf");
}

:root {
  interpolate-size: allow-keywords;
}

body {
  background: #9c66b9;
  background-image: url("https://images.unsplash.com/photo-1618005182384-a83a8bd57fbe?q=80&w=3164&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  color: white;
}

a {
  color: white;
}

/* Styled Tags */

img[src$=".svg"] {
  width: 15px;
  height: 15px;
}

button,
[data-style="button"] {
  background-color: #fc6123;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: normal;
  padding: 8px 16px;
  transition: background-color 0.3s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

  &:hover {
    background-color: #fc741c;
  }
}

p {
  font-size: 18px;
  font-weight: 400;
  text-transform: none;
  margin: 10px 0;
  line-height: 1.75;
}

/* Reset Details/Summary */
details,
summary {
  width: 100%;
  position: relative;
}

details > summary:first-of-type {
  list-style: none;
  display: flex;
  align-items: center;
}

/* Animation of Accordian Height */
details::details-content {
  overflow: hidden;
  height: 0;
  /* Enable transitioning of `content-visibility` */
  transition: height 0.3s, content-visibility 0.3s;
  transition-behavior: allow-discrete;
}

details[open]::details-content {
  height: auto;
}

/* Mainly summary header Animation */
/* Accordian Closed State */
details summary {
  height: 50px;
  margin-top: 0;
  transition: height 0.3s ease;
  gap: 5px;

  .title {
    display: initial;
    left: 0;
    opacity: 1;
    position: relative;
    text-transform: lowercase;
    transition: opacity 0.3s ease, left 0.3s ease;
  }

  .close {
    border-radius: 20%;
    border: 2px solid rgba(255, 255, 255, 0);
    display: flex;
    padding: 0;
    position: relative;
    top: 1px;
    transform: rotate(0deg);
    transition: transform 0.4s ease, border 0.4s ease, padding 0.4s ease,
      border-radius 0.4s ease;

    img {
      width: 18px;
      height: 18px;
      transition: width 0.4s ease, height 0.4s ease;
    }
  }
}

/* Accordian Open State */
details[open] summary {
  /* height: 30px; */
  margin-top: 10px;

  .title {
    opacity: 0;
    left: -10%;
  }

  .close {
    opacity: 1;
    border-radius: 50%;
    padding: 5px;
    transform: rotate(135deg);
    border: 2px solid rgba(255, 255, 255, 0.9);

    img {
      width: 12px;
      height: 12px;
    }
  }
}

.board {
  max-width: 600px;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  border: 0;
  max-height: calc(100dvh - 20px);
  overflow-y: scroll;
  margin: 10px;
  width: 100%;

  ::-webkit-scrollbar {
    display: none;
  }
}

.board > div {
  align-items: center;
  align-items: start;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-size: 32px;
  font-weight: bold;
  justify-content: center;
  min-height: 50px;
  padding: 12px 30px;
  transition: backdrop-filter 0.3s ease, background-color 0.3s ease,
    opacity 0.3s ease;

  &:hover {
    backdrop-filter: blur(10px) opacity(80%);
  }

  /* media query for smaller screens */
  @media (max-width: 480px) {
    font-size: 22px;
  }

  &.title {
    font: normal 48px "Open Sans Condensed ExtraBold Italic", sans-serif;
    text-transform: uppercase;
    cursor: default;
    text-shadow: 1px 2px 0 rgba(0, 0, 0, 0.3);
  }

  /* From Yellow to Orange */
  &:nth-child(1) {
    background-color: #ffcc00;
    border-radius: 8px 8px 0 0;

    &:hover {
      background-color: #ffcc00d9;
    }
  }
  &:nth-child(2) {
    background-color: #fcad07;

    &:hover {
      background-color: #fcad07d9;
    }
  }
  &:nth-child(3) {
    background-color: #fc9a0e;

    &:hover {
      background-color: #fc9a0ed9;
    }
  }
  &:nth-child(4) {
    background-color: #fc8715;

    &:hover {
      background-color: #fc8715d9;
    }
  }
  &:nth-child(5) {
    background-color: #fc741c;

    &:hover {
      background-color: #fc741cd9;
    }
  }
  &:nth-child(6) {
    background-color: #fc6123;
    border-radius: 0 0 8px 8px;

    &:hover {
      background-color: #fc6123d9;
    }
  }
}

.horizontal-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
}

.tech {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 5px;

  img[src$=".svg"] {
    height: 20px;
    width: auto;
  }
}

.download-btn {
  margin-top: 25px;
  display: inline-flex;

  img[src$=".svg"] {
    position: relative;
    top: -1px;
  }
}
